.title p {
   font-size: 12px;
} 
.expired {
   font-size: 12px;
}



.loading {
   top: 44px;
   right: 10%;
   width: 30px !important;
   height: 30px !important;
   border-width: 5px !important;
   border-color: var(--main-color);
   border-right-color: transparent;
}

.notificationCount {
   top: 10px;
   right: -25px;
   font-size: 13px !important;
}