
.loading {
   top: 44px;
   right: 10%;
   width: 30px !important;
   height: 30px !important;
   border-width: 5px !important;
   border-color: var(--main-color);
   border-right-color: transparent;
}

select {
  font-family: monospace;
  white-space: pre;
}