
.title {
   font-size: 14px;
   font-weight: bold;
}
.title p {
   font-size: 10px;
}
.quantityCart {
   border: 3px solid var(--main-color) !important;
   font-size: 10px;
   overflow: hidden;
}


.notificationCount {
   top: 10px;
   right: -25px;
   font-size: 13px !important;
}




.sidIcon {
   width: 50px;
   background-color: rgb(242, 237, 237);
   top: 20px;
   right: -60px;
   transition: var(--main-transition);
   -webkit-transition: var(--main-transition);
   -moz-transition: var(--main-transition);
   -ms-transition: var(--main-transition);
   -o-transition: var(--main-transition);
}

.sidIcon i{
   font-size: 20px;
   transition: var(--main-transition);
   -webkit-transition: var(--main-transition);
   -moz-transition: var(--main-transition);
   -ms-transition: var(--main-transition);
   -o-transition: var(--main-transition);
}
.sidIcon i:hover{
   scale: 1.2;
}

.quantityCart:hover .sidIcon{
   right: 10px;
}