

.chatBox {
  height: 500px;
  overflow: "auto"; 
  padding: 10 ;
  scrollbar-width: none ; 


  overflow-y: auto;
  -ms-overflow-style: none;
  padding-bottom: 100px !important;
}


.chatBox::-webkit-scrollbar {
  display: none;              /* Chrome, Safari, Opera */
}

/* .chatContainer {
  display: flex;
  flex-direction: column;
  padding: 10px;
  height: 60vh;
  overflow-y: auto;
  background-color: #e5ddd5; 
} */

.messageRow {
  display: flex;
  margin-bottom: 20px;
}

.mine {
  justify-content: flex-end;
}

.theirs {
  justify-content: flex-start;
}

.messageBubble {
  max-width: 60%;
  padding: 5px 10px;
  border-radius: 18px;
  position: relative;
  font-size: 14px;
}

.mine .messageBubble {
  background-color: #dcf8c6; 
  border-bottom-right-radius: 0;
}

.theirs .messageBubble {
  background-color: #e1e0e0;
  border-bottom-left-radius: 0;
}


.messageText {
  word-wrap: break-word;
}

.messageTime {
  font-size: 11px;
  color: #9c9c9c;
  text-align: right;
}



