



/* Icon WhatsApp */
.fixedBottom {
   position: fixed;
   left: 0px;
   bottom: 60px;
   width: 60px;
   height: 60px;
   z-index: 999;
}




.mainSection {
   /* background-image: url("../../Assets/background/background.jpg"); */
   background-attachment: fixed;
   background-repeat: repeat;

}

.carouselImg {
   object-fit: fill; 
}
.carouselItem {
   height: 500px; 
}




.notification {
   top: 20px;
   right: 0;
}
.notificationCount {
   top: 8px;
   right: -15px;
   font-size: 12px !important;
}


.carouselDiv {
   height: 160px;
}
.message {
   text-align: center;
   font-size: 12px;
   font-weight: bold;
}


.loading {
   top: 44px;
   right: 10%;
   width: 30px !important;
   height: 30px !important;
   border-width: 5px !important;
   border-color: var(--main-color);
   border-right-color: transparent;
}



.card ,
.cardText {
   transition: var(--main-transition);
   -webkit-transition: var(--main-transition);
   -moz-transition: var(--main-transition);
   -ms-transition: var(--main-transition);
   -o-transition: var(--main-transition);
}
.card:hover .cardText{
   scale: 1.1;
}
.card {
   position: relative;
   z-index: 1;
}
.card:hover::before {
   content: "";
   position: absolute;
   inset: 0;
   background-color: var(--main-color);
   opacity: 10%; 
   z-index: -1;
}



/*Start Media Screen */
   /* Small Screen */
   @media (min-width: 768px) {
      /* Icon WhatsApp */
      .fixedBottom {
         left: 10px;
         bottom: 20px;
         width: 100px;
         height: 100px;
      }
   }
/*End Media Screen */







/* 
.btnAnimated {
  background: linear-gradient(270deg, #ff512f, #dd2476, #24c6dc);
  background-size: 600% 600%;
  color: #fff;
  border: none;
  transition: 0.3s;
  animation: gradientMove 6s ease infinite;
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
} */
