.spinnerBtn{
   width: 30px !important;
   height: 30px !important;
   border-width: 5px !important;
}
.spinnerIcon{
   width: 20px !important;
   height: 20px!important;
   border-width: 3px !important;
}
.spinnerLarge{
   width: 60px !important;
   height: 60px!important;
   border-width: 7px !important;
}

