
.login_text  {
   font-size: 12px !important;
}


.form {
   padding: 8px 40px 8px 60px;
}


.loading {
   top: 44px;
   right: 10%;
   width: 30px !important;
   height: 30px !important;
   border-width: 5px !important;
   border-color: var(--main-color);
   border-right-color: transparent;
}




/* 

   .spinner-border {
      width: 40px !important;
      height: 40px !important;
      border-width: 10px !important; 
   } */
