
.login_text {
   font-size: 14px;
}


.form{
   padding: 8px 40px 8px 60px;
}




.btnBack {
   display: inline-flex;
   align-items: center;
   gap: 8px;
   background: #fff;
   color: #1e88e5;
   padding: 10px 18px;
   border-radius: 12px;
   font-weight: 600;
   font-size: 15px;
   text-decoration: none;
   border: 2px solid #1e88e5;
   transition: 0.3s ease;
   box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.btnBack i {
   font-size: 16px;
}

.btnBack:hover {
   background: #1e88e5;
   color: #fff;
   transform: translateY(-3px);
   box-shadow: 0 10px 20px rgba(0,0,0,0.12);
}
