.divMobileImgCover {
   margin-left:15px;
   width: 200px;
   height: 150px;
   border: 2px solid var(--main-color);
   overflow: hidden;
   margin: 20px auto;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 10px;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   -ms-border-radius: 10px;
   -o-border-radius: 10px;
}

.showColor {
   display: inline-block;
   width: 50px;
   height: 20px;
   margin-left: 10px;
}

.imgCover {
   width: 200px;
   height: 200px;
   /* border: 2px solid red; */
}