@import url('https://fonts.googleapis.com/css2?family=Knewave&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');


:root{
   --main-color:#14b7c9;
   --second-color: #feae35;
   --btnHover-color: #05b8b8;
   --primary-color: rgb(73, 122, 246);
   --third-color: rgb(52, 123, 216);
   --main-transition: 0.4s ease;
}



/*&==========Start Global Rules ===========*/
*{
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

html{
   scroll-behavior: smooth;
}

body{
   font-family: "Tajawal", sans-serif;
   background-color: #F4F5FF;
}

ul{
   list-style: none;
   margin: 0;
   padding: 0;
}
a{
   text-decoration: none !important;
   color: white;
}
.main-color {
   color:var(--main-color) !important ;
}
.second-color {
   color:var(--second-color) !important ;
}
.bg-main {
   background-color:var(--main-color) !important;
   color: white !important;
}


/* الزرار */
/* .bg-main {
  background: linear-gradient(    to right,    var(--main-color),    color-mix(in srgb, var(--main-color) 40%, white)  );
  color: white !important;
  border: none;
  transition: background 0.4s ease;
  -webkit-transition: background 0.4s ease;
  -moz-transition: background 0.4s ease;
  -ms-transition: background 0.4s ease;
  -o-transition: background 0.4s ease;
} */

/* عند الـ hover */
/* .bg-main:hover {
  background: linear-gradient(
    to right,
    color-mix(in srgb, var(--main-color) 80%, black),
    var(--main-color)
  );
} */



.border-main {
   border: 1px solid var(--main-color) ;
}
.bg-color:hover {
   background-color: var(--btnHover-color) !important;
} 
.main-header {
   text-align: center;
   color: var(--main-color);
   margin:auto;
   font-size: 30px;
   font-weight: bold;
   /* width: fit-content; */
}





.sub-title  {
   font-size: 14px;
   color: var(--main-color);
}

@media (max-width: 990px){
   .main-header {
      margin: 20px 0px;
      font-size: 25px;
   } 
}
/*&==========Ens Global Rules  ===========*/


/*Start Media Screen */
                     /* Mobil Screen */
@media (max-width: 767px) {
}
                     /* Small Screen */
@media (min-width: 768px) {
}
                     /* Medium Screen */
@media (min-width:992px){
}
                     /* Large Screen */
@media (min-width:1200px){
}
/*End Media Screen */








/*& ========= Start Loading Component ============ */
   .spinner-border {
      width: 150px !important;
      height: 150px !important;
      border-width: 10px !important;
      }
/*& ========== End Loading Component ============ */





























/*&======= Start  Added Star In Required Field ============*/

label.required::after {
   content: "*";
   color: red;
   position: relative;
   left: 10px;
   top: 10px;
   font-weight: bold;
   font-size: 25px;
}
label.not-required::after {
   content: "*";
   color: transparent;
   position: relative;
   left: 10px;
   top: 10px;
   font-weight: bold;
   font-size: 25px;
}
/*&======= End Added Star In Required Field ============*/






/*&======= Start Style To All Input Your Project ============*/

.form-control {
   padding: 8px;
   border: 2px solid var(--main-color) ;
}
label.form-label{
   margin: 0 !important;
   /* color: var(--main-color); */
}
input::placeholder {
   color: var(--main-color);
   font-size: 18px;
}

.form-control:focus {
   outline: 2px solid var(--main-color) !important ;
   border: 2px solid var(--main-color) !important ;
}

.icon-input-field {
   position: absolute;
   top: 50px;
   left: 30px;
   color: var(--main-color);
}
/* .icon-input-field::after {
   content: "";
   position: absolute;
   top: -14px;
   left: 28px;
   height: 42px; 
   z-index: 999;
   border-right: 2px solid var(--main-color);
} */

.toggle-password {
   position: absolute;
   color: var(--main-color);
   top: 50px !important;
   right: 10px;
   top: 50%;
   transform: translateX(-50%);
   -webkit-transform: translateX(-50%);
   -moz-transform: translateX(-50%);
   -ms-transform: translateX(-50%);
   -o-transform: translateX(-50%);
}

/*&======= End Style To All Input Your Project ============*/






/*&======= Start  Pagination Component ================*/
   @media(max-width:992px){
      .pagination .page-item ,
      .pagination .page-link {
         font-size: 8px !important;
      }
   }
/*&======= End  Pagination Component ================*/



/*&=============== Start Alert Offline Component ==================== */
   .network {
      overflow: hidden;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50% , -50%);
      -webkit-transform: translate(-50% , -50%);
      -moz-transform: translate(-50% , -50%);
      -ms-transform: translate(-50% , -50%);
      -o-transform: translate(-50% , -50%);
      border: 4px solid rgb(195, 195, 195);
      border-radius: 20px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      -o-border-radius: 20px;
      z-index: 999;
}
/*&================== End Alert Offline Component ==========================*/







/*^=================================================== Start Media Mobile ============================================== */
   @media (max-width: 990px){
      .carousel-inner {
         height: 200px !important;
      }
      .rowDetails {
         text-align: center !important;
      }
      .form-check {
         padding-left: 2.5em;
         margin-bottom: 2.125rem;
      }
      .parentContainer{
         width: 95% !important;
      }
   }
/*^=================================================== End Media Mobile ============================================== */


















/*&================== Start Breadcrumb ==========================*/

   .breadcrumb , nav.container{
      margin: 15px auto 0px  auto !important;
   }

   
   /*Start Media Screen */
                        /* Mobil Screen */
   @media (max-width: 767px) {
      .breadcrumb , nav.container{
         margin: -10px 0px !important;
      }
   } ;


                        /* Small Screen */
   @media (min-width: 768px) {
   }
                        /* Medium Screen */
   @media (min-width:992px){
   }
                        /* Large Screen */
   @media (min-width:1200px){
   }
   /*End Media Screen */
/*&================== End Breadcrumb ==========================*/


